@import url('./../fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;800&display=swap');
/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Apply Inter globally */
body {
  font-family: 'Inter', sans-serif;
}
/*----- General Css Start -----*/

:root {
    --newPrimaryColor: #0866FF;
    --newFontColor: #27323C;
    --newGrayColor: #838189;
    --newBgColor: #F9f9f9;
    --newBgWhiteColor: #FFFFFF;
    --newActiveColor: #EBF5FF;
    --newPlaceHolderColor: #65676B;

    --primaryColor: #9E6318;
    --primaryColor: #9E6318;
    --grayColor: #969696;
    --redColor: #ff0000;
    --greenColor: #42C900;
    --yellowColor: #E5BB45;
    --whiteColor: #fff;
    --secondaryColor: #B0B0B0;
} */

.text-theme-secondary {
    color: var(--secondaryColor);
}


body {
    font-family: 'Inter', sans-serif;
    /* font-weight: 400; */
    color: var(--fontColor);
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif !important;
}

.newPrimaryColor {
    color: var(--newPrimaryColor) !important;
}
.newPrimaryBg {
    background-color: var(--newPrimaryColor) !important;
}
.newPrimaryBorder {
    border-color: var(--newPrimaryColor) !important;
}
.primaryColor {
    color: var(--primaryColor) !important;
}

.newGrayColor {
    color: var(--newGrayColor) !important;
}
.newFontColor {
    color: var(--newFontColor) !important;
}
.newBgWhiteColor {
    background-color: var(--newBgWhiteColor) !important;
}
.newActiveColor {
    background-color: var(--newActiveColor) !important;
    color: var(--newPrimaryColor) !important;
}
.newPlaceHolderColor {
    color: var(--newPlaceHolderColor) !important;
}

.greenColor {
    color: var(--greenColor) !important;
}

.redColor {
    color: var(--redColor) !important;
}

.yellowColor {
    color: var(--yellowColor) !important;
}

.notButton {
    border: none;
    background: none;
    outline: none !important;
    box-shadow: none !important;
}

.classicToggle::after {
    display: none;
}

/*----- General Css End -----*/




/*----- Modal Css Start -----*/

.closeButton {
    font-size: 16px;
    color: #fff;
    background: var(--primaryColor);
    width: 30px;
    height: 30px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin: 0.5rem;
    margin-left: auto;
}

.modalImage {
    width: 90px;
    margin-bottom: 1rem;
}

.modalContent {
    margin: 1rem 0;
}

.modalHeading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

/*----- Modal Css End -----*/


.dashCard {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.mainTitle {
    font-size: 22px;
    font-weight: 600;
}

.profileImage img {
    width: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
    outline: 2px solid #bcbcbc;
    outline-offset: 4px;
}

.statusBadge {
    font-size: 15px;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    position: relative;
    left: 2rem;

}

.statusBadgeActive {
    background: var(--greenColor);
}

.statusBadgeInactive {
    background: var(--redColor);
}

.secondaryLabel {
    font-size: 15px;
    font-weight: 700;
    color: #A2A2A2;
    margin-bottom: 0.2rem;
}

.addUser {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
}

.addUser .inputWrapper {
    flex-grow: 1;
}

.secondaryText {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.2rem;
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid;
    border-color: #E4E4ED;
    border-right-color: var(--primaryColor);
    animation: s2 1s infinite linear;
}

@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}

.loaderBox {
    position: absolute;
    background-color: #000000c2;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}