@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Apply Inter globally */
body {
  font-family: 'Inter', sans-serif;
}


:root {
 --themeColor: #0866FF;
}


.bg-themeColor {
 background-color: var(--themeColor);
}
.text-themeColor {
 color: var(--themeColor);
}
.border-themeColor {
 border-color: var(--themeColor);
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}


/* Hide horizontal scrollbar completely — including arrow buttons */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}





.react-date-picker__wrapper {
  border: none !important;
  font-size: 15px;
  font-weight: 500;
}

.react-calendar {
  border: none !important;
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
  width: 100%;
}

.react-calendar__tile--active {
  background: rgba(0, 122, 255, 0.2) !important;
  color: #007AFF !important;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background: transparent !important;
  color: #007AFF !important;
  font-weight: 600;
}

.react-time-picker__wrapper {
  border: none !important;
}
